body{
    font-family: Georgia;
}
main{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}
section{
    display: flex;
}
nav, aside{
    background-color: maroon;
    color: white;
    height: 600px;
    float: left;
}
nav{
    width: 30%;
}
aside{
    width: 70%;
    overflow-y: auto;
}
footer{
    background-color: dimgray;
    color: white;
    clear: both;
}
p{
    padding: 10px;
}
#but-ind{
    background-color: indigo;
}
#but-ste{
    background-color: steelblue;
}
#but-oli{
    background-color: olive;
}
img{
    padding: 10px;
    border: 1px solid white;
    float: left;
}
ul{
    float: left;
}
#def-text{
    clear: both;
}