body{
    font-family: Tahoma;
}
main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
header, footer{
    background-color: #003d33;
    color: white;
}
header{
    text-align: center;
    height: 50px;
    float: left;
}
section{
    background-color: #26a69a;
    height: 550px;
    float: left;
}
#head-left, #sec-right{
    width: 70%;
}
#head-right, #sec-left{
    width: 30%;
}
label, input{
    display: block;
}
#visitor{
    width: 400px;
    margin: 30px;
    text-align: center;
    border: 1px solid #003d33;
}
#vis-button{
    background-color: #003d33;
    color: white;
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
}
#vis-button:hover{
    background-color: #004c40;
}