body{
    font-family: Georgia;
}
#container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
header{
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    text-align: center;
}
main{
    background-color: lightblue;
    padding: 100px;
}
footer{
    display: flex;
}
#left{
    background-color: dodgerblue;
    color: white;
    width: 20%;
    height: 220px;

}
#middle, #right{
    background-color: dodgerblue;
    color: white;
    width: 40%;
    height: 220px;
    text-align: center;
}
a{
    border: 1px dashed dimgrey;
    background-color: gold;
    color: darkred;
    padding: 10px;
}